# Ignora la carpeta node_modules
node_modules

# Ignora los archivos relacionados a API keys
images-service/.env
sql-service/.env
auth-service/.env
socket-service/.env
mongo service/.env

# Ignora la carpeta de imagenes de los usuarios
images-service/images/users

# Ignora archivos de configuración de editores
.vscode/
.idea/
